@CHARSET "US-ASCII";
/* General stylings*/
html{
	background-color: #fff;
}
body {
	background-color: #1d1d1d;
	margin: 0;
}
.two-thirds-left,
.one-third-right,
.two-left,
.two-right{
	float:left;
	width:48%;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  	box-sizing: border-box;
  	margin: 0 auto;
}
	.two-thirds-left{
		width: 65.8%;
	}
	.one-third-right,
	.right{
		float:right;
	}
		.one-third-right{
			width: 32%;
		}

.clear{
	float:none!important;
	clear:both!important;
	display: block!important;
	width: 0!important;
	height: 0!important;
	margin:0!important;
	padding:0!important;
	line-height: 0!important;
	border:none!important;
}

body, h1, h2, h3, h4, h5, h6, p, a, div, li, input, select, textarea, button{
	line-height: normal;
	font-family: 'Comfortaa', 'Century Gothic', Arial;
}

p,li,button,input, select,a,h1,h2 {
	padding: 10px 0;
	text-align: left;
	font-size: 18px;
}
	footer p, footer a{
		font-size: 15px;
	}
h1,h2 {
	margin: 0px;
	text-align: center;
}

h1, .h1 {
	font-size: 35px;
	font-weight:600;
}
	.red .h1{
		text-align: left;
	}
h2{
	font-size:25px;
	font-weight: 200;
}
	.red h2{
		text-align: left;
		margin: 20px 0;
	}

h3 {
	font-size: 30px;
	color: #1dd0c1;
	text-align: center;
	padding-bottom: 20px;
	text-decoration: underline;
}
	footer h3{
		font-size: 15px;
	}


/* *********************************************
 *  beckground font basic
 * ********************************************* */
.center{
	text-align: center;
	margin: 0 auto;
}
	.center img, .center iframe{
		margin: 0 auto;
		text-align: center;
	}


.greenfont{
	color: #1dd0c1;
}

.main-img-wrapper{
	height: 600px;
	overflow: hidden;
	z-index: 50;
	position: relative;
}

 	button:hover, .button:hover{
 		background-color: #1dd0c1;
 	}
 .index .main-img-wrapper .button{
 	position: relative;
  	top: 350px;
  	width: 150px;
 }
/* *********************************************
 *  Header + Menu
 * ********************************************* */
.header {
	display:block;
	/*position: fixed;*/
	z-index: 100;
}
	.index .header{
		background-color: transparent;
	}
	
.header .logo{
	font-size: 34px;
}
	.header a:hover{
		text-decoration: none;
		color:#337ab7;
	}
.logo{
	padding-left: 38px;
	  background-image: url("image/icon.png");
	  background-repeat: no-repeat;
	  background-size: 30px auto;
    background-position: left center;
    font-size:25px;
}
.navbar-brand {

    padding: 25px 15px;
    
    }
@media (max-width: 768px){
	.navbar-brand {
     padding: 15px 15px;
     	}
}

